@page
@model WebApp.Server.Pages.Account.AccessDeniedModel

<form id="accessDenied" method="post">
    <div class="wa_card">
        <div class="wa_card__content">
            <h1>Access Denied</h1>
            <hr />
            <button type="submit">
                <span>Take Me Back</span>
            </button>
        </div>
    </div>
</form>
