@page
@model WebApp.Server.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<form id="accessDenied" method="post">
    <div class="wa_card">
        <div class="wa_card__content">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <button type="submit">
                <span>Take Me Back</span>
            </button>
        </div>
    </div>
</form>
