@page
@model WebApp.Server.Pages.Account.LoginModel

<form id="login" method="post">
    <div class="wa_card">
        <div class="wa_card__content">
            <h1>Login</h1>
            <hr/>
            @foreach (var provider in Model.ExternalLogins.OrderBy(x => x.DisplayName))
            {
                <button type="submit" name="provider" value="@provider.Name" title="Login with your @provider.DisplayName account">
                    <span>@provider.DisplayName</span>
                </button>
            }
        </div>
    </div>
</form>


