@use '../../../Common/Styles/Breakpoints.scss' as *;

.wa_formDialog {

    @include breakpoint(xs) {
        min-width: 95%;
    }

    @include breakpoint(sm) {
        min-width: unset;
        width: 36rem;
    }

    .wa_formDialog__error {
        padding-bottom: 1rem;
    }
}