@use 'Breakpoints.scss';
@use 'Colors.scss';

.wa_alert__container {
    position: relative;
    display: block;
    padding: 0;
    max-width: 100%;
    background-color: Colors.$surface-color;
    border-radius: var(--mud-default-borderradius);
    border: 1px solid var(--mud-palette-lines-default);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
