body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(#401834, #1f1013);
    animation: fadeIn 1 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
