@use "sass:color";

$primaryColor: #C0BCB5;
$primaryColorDark: color.scale($primaryColor, $lightness: -10% );

$secondaryColor: #C9DDFF;
$secondaryColorDark: color.scale($secondaryColor, $lightness: -10% );

$surface-color: #000000;
$surface-color-light: color.adjust($surface-color, $lightness: 8%, $space: hsl);
$surface-color-lighter: color.adjust($surface-color, $lightness: 16%, $space: hsl);

$softWhite: rgba(255,255,255,0.698);
